body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid oklch(70% 3% 200);
  background-color: oklch(95% 3% 200);
}

img {
  max-width: 100%;
  height: auto;
}

nav a:nth-child(1):hover {
  background-color: oklch(85% 15% 30);
}

nav a:nth-child(2):hover {
  background-color: oklch(85% 15% 120);
}

nav a:nth-child(3):hover {
  background-color: oklch(85% 15% 200);
}

nav a:nth-child(4):hover {
  background-color: oklch(85% 15% 260);
}

nav a:nth-child(5):hover {
  background-color: oklch(85% 15% 330);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

img {
  margin-top: 1em;
  border-radius: 10px;
}