body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid oklch(70% 3% 200);
  background-color: oklch(95% 3% 200);
}

img {
  max-width: 100%;
  height: auto;
}

/* Step 3: Contact form */

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  grid-column: 1;
}

input,
textarea {
  grid-column: 2;
  width: 100%;
  box-sizing: border-box;
}

button {
  grid-column: 1 / -1;
  padding: 0.5em;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  outline: 3px solid red;
}

.projects article {
  outline: 2px solid blue;
}